@model BookingSite.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

@if (Model.Carts != null)
{
    <table class="table" id="myTable">
        <thead>
        <tr>
            <th>
                From 
            </th>
            <th>
                To
            </th>
            <th>
                Transfers
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th>
                Class
            </th>
            <th>
                Meal
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Carts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteSegments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    € @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealDescription)
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div>
        <p>Totaal: <br/> </p>
        <p>@Model.ComputeTotalValue()</p>
        @Html.ActionLink("Proceed to checkout", "Checkout", Model.Carts)
    </div>
}else{
    <p>no Data</p>
}